<header id="mobile_header" class="d-flex">
    <a href="/Join/summary.html">
        <img id="header_logo_m" src="/Join/assets/img/join_logo_black.png" alt="J">
    </a>
    <svg id="header_svg" width="40" height="40" viewBox="0 0 56 56" fill="none"
        onclick="flyInMenu('header_menu_id', event)">
        <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3" />
        <text id="svg_text" x="49%" y="30" text-anchor="middle" fill="blue" class="svg_mobile_txt"
            alignment-baseline=" middle">
    </svg>
    <span id="header_menu_id" class="Header_menu d-flex flex-direction-col float_in_menu">
        <a class="MenuButton" href="#" onclick="toLegal()">Legal Notice</a>
        <a class="MenuButton" href="#" onclick="toPrivacy()">Privacy Policy</a>
        <a class="MenuButton" href="#" onclick="logOut()">Log out</a>
    </span>
</header>

<mobileFooter id="mobile_footer">
    <div id="mobile_footer_links" class="d-flex">
        <div class="Footer_link_pack MenuButton" id="summaryID">
            <a href="/Join/summary.html" class="d-flex flex-direction-col Sider_footer_links">
                <img class="Footer_icon_m" src="/Join/assets/img/sider_summary_icon.png" alt="">
                <p> Summary</p>
            </a>
        </div>
        <div class="Footer_link_pack MenuButton" id="add_taskID">
            <a href="/Join/add_task.html" class="d-flex flex-direction-col Sider_footer_links">
                <img class="Footer_icon_m" src="/Join/assets/img/sider_addTask_icon.png" alt="">
                <p> Add Task</p>
            </a>
        </div>
        <div class="Footer_link_pack MenuButton" id="boardID">
            <a href="/Join/board.html" class="d-flex flex-direction-col Sider_footer_links">
                <img class="Footer_icon_m" src="/Join/assets/img/sider_board_icon.png" alt="">
                <p> Board</p>
            </a>
        </div>
        <div class="Footer_link_pack MenuButton" id="contactsID">
            <a href="/Join/contacts.html" class="d-flex flex-direction-col Sider_footer_links">
                <img class="Footer_icon_m" src="/Join/assets/img/sider_contacts_icon.png" alt="">
                <p> Contacts</p>
            </a>
        </div>
    </div>
</mobileFooter>